[Unit]
Description=Weatherstation
After=network.target

[Service]
User=user
WorkingDirectory=/home/user/python/weatherstation
Environment="PATH=/home/user/python/weatherstation/venv/bin
ExecStart=/home/user/python/weatherstation/venv/bin/gunicorn --bind 0.0.0.0:5000 server:app

[Install]
WantedBy=multi-user.target
